In [14]:
# how to load dataset of csv file
import pandas as pd

In [15]:
df = pd.read_csv('Diebetesdata.csv')

In [16]:
df.head()

   Gender  Age  Urea_Level  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  CLASS
0       0   50         4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
1       1   26         4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0      0
2       0   50         4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
3       0   50         4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
4       1   33         7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0      0

In [17]:
df.describe()

,Gender,Age,Urea_Level,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
count,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000,947.000000
mean,0.558606,54.101373,5.159074,69.103485,8.408617,4.878691,2.362101,1.209081,2.616304,1.903485,29.893897,0.891235
std,0.496816,8.499612,2.975024,60.862961,2.544040,1.313356,1.417275,0.672423,1.127316,3.757012,4.869852,0.311508
min,0.000000,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000,0.000000
25%,0.000000,51.000000,3.700000,48.000000,6.800000,4.000000,1.500000,0.900000,1.800000,0.700000,27.000000,1.000000
50%,1.000000,55.000000,4.600000,60.000000,8.100000,4.800000,2.000000,1.100000,2.500000,1.000000,30.000000,1.000000
75%,1.000000,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000,1.000000
max,1.000000,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000,1.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947 entries, 0 to 946
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Gender      947 non-null    int64
 1   Age         947 non-null    int64
 2   Urea_Level  947 non-null    float64
 3   Cr          947 non-null    int64
 4   HbA1c       947 non-null    float64
 5   Chol        947 non-null    float64
 6   TG          947 non-null    float64
 7   HDL         947 non-null    float64
 8   LDL         947 non-null    float64
 9   VLDL        947 non-null    float64
 10  BMI         947 non-null    float64
 11  CLASS       947 non-null    int64
dtypes: float64(8), int64(4)
memory usage: 88.9 KB

In [19]:
df.head()

   Gender  Age  Urea_Level  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI  CLASS
0       0   50         4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
1       1   26         4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0      0
2       0   50         4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
3       0   50         4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0      0
4       1   33         7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0      0

In [20]:
X = df.iloc[:,0:11]
y = df.iloc[:,-1]

In [21]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 2)

In [22]:
X_train

     Gender  Age  Urea_Level   Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI
864       0   51        10.5  111    8.1   3.8  3.2  0.8  1.7   1.4  34.0
698       0   52         2.8   35   12.8   4.8  4.0  1.1  2.1   1.8  36.6
631       1   60         4.2   39    8.8   4.5  2.2  0.8  1.4   1.1  34.0
505       0   63         6.1   46    9.8   3.9  0.8  1.8  1.9   1.0  37.0
626       1   59         4.5   59   12.5   5.7  2.7  1.2  3.3   1.2  28.0
..      ...  ...         ...  ...    ...   ...  ...  ...  ...   ...   ...
534       0   61        13.2   98    8.0   6.6  4.5  1.6  0.9   2.0  26.0
584       0   60         4.9   45   10.6   6.7  5.9  0.9  1.9   1.5  28.0
493       0   56         2.6   68    8.0   3.0  2.0  1.1  2.3   0.5  30.0
527       0   59         6.2   68    8.1   5.5  2.2  0.7  2.0   1.5  33.0
168       1   39         9.1   80    5.1   7.1  1.5  1.2  4.1   0.7  20.0

[757 rows x 11 columns]

In [23]:
X_train.shape

(757, 11)

In [24]:
X_test.shape

(190, 11)

In [28]:
# Create Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
dieb_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

In [29]:
#  Train the Model
dieb_classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [30]:
#  Evaluate Model Accuracy
y_pred1 = dieb_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred1)
print("Accuracy:", accuracy)

Accuracy: 0.9894736842105263

In [31]:
from joblib import dump

In [32]:
dump(dieb_classifier, './../savedModels/diebetesmodel.joblib')

['./../savedModels/diebetesmodel.joblib']